[submodule "minishell-1337"]
	path = minishell-1337
	url = git@github.com:YeGoRenji/minishell-1337.git
[submodule "ft_irc-1337"]
	path = ft_irc-1337
	url = git@github.com:YeGoRenji/ft_irc-1337.git
[submodule "inception"]
	path = inception
	url = git@github.com:0x00Jeff/inception.git
[submodule "cub3d"]
	path = cub3d
	url = git@github.com:0x00Jeff/cub3d.git
[submodule "cpp"]
	path = cpp
	url = git@github.com:0x00Jeff/cpp.git
